<div id="header">
    <img class="avatar" src="{{ gebruiker.avatar }}" alt="De avatar van deze gebruiker" />
    <h1>{{ gebruiker.gebruikersnaam }}</h1>
    <a href="/#/mijnFlexies/{{ gebruiker._id }}"><h3>MIJN FLEXIES</h3></a>
    <a href="/#/favorieten/{{ gebruiker._id }}"><h3>FAVORIETEN</h3></a>
    <a href="/#/account/{{ gebruiker._id }}"><h3>ACCOUNT</h3></a>
</div>
<div class="positie-content-container">
    <div id="accountAvatar">
        <form action="/avatar" method="post" enctype="multipart/form-data">
            <div class="fileUpload btn btn-primary">
                <span><img class="avatar" src="{{ gebruiker.avatar }}" alt="De avatar van deze gebruiker" /></span>
                <input type="file" name="image" class="upload" />
            </div>
            <input type="hidden" name="gebruikerId" value="{{ gebruiker._id }}">
            <input class="wijzigAvatar" type="submit" value="wijzig" />
        </form>
    </div>
    <p class="avatarMessage">{{ avatarMessage }}</p>
    <div class="formDetails">
        <p class="accountMessage">{{ formMessage }}</p>
        <form data-ng-model="gebruiker" name="gebruiker">
                <input id="maile_account" type="text" data-ng-model="gebruiker.email" placeholder="Vul je e-mailadres in" /><br />
                <input id="gebruikersnaam_account" type="text" data-ng-model="gebruiker.gebruikersnaam" placeholder="Vul je gewenste gebruikersnaam in" /><br />
                <input id="wachtwoord_account" type="password" data-ng-model="gebruiker.nieuwWachtwoord" placeholder="Je gewenste wachtwoord" /><br />
                <input id="bevestigWachtwoord_account" type="password" data-ng-model="gebruiker.bevestigWachtwoord" placeholder="Herhaal gewenste wachtwoord" /><br />
                <button data-ng-click="update(gebruiker)">UPDATE</button>
        </form>
    </div>
    <div id="messageVak">
        <p id="errorMessage">
        </p>
    </div>
</div>